<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121691672021-ucg4n573htgm58dbv4sku1dnf6leftge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121691672021-ucg4n573htgm58dbv4sku1dnf6leftge</string>
	<key>API_KEY</key>
	<string>AIzaSyBAv3cqU5iy45P9IrvzIQ3rLY6EAQTibVY</string>
	<key>GCM_SENDER_ID</key>
	<string>121691672021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.schwoebel.twoDo</string>
	<key>PROJECT_ID</key>
	<string>twodo-a77ec</string>
	<key>STORAGE_BUCKET</key>
	<string>twodo-a77ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121691672021:ios:56c4d09dd5fc7bac35415c</string>
	<key>DATABASE_URL</key>
	<string>https://twodo-a77ec.firebaseio.com</string>
</dict>
</plist>